body {
    background: #144766;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vw;
    transition: background-color 0.25s ease;
}

#score_board {
	text-align: center;
	color: white;
	font-size: 3vw;
}

#head {
	text-align: center;
	color: white;
	font-size: 3vw;
}

#games {
	text-align: center;
	color: white;
	font-size: 3vw;
}

#about_body {
	text-align: center;
	color: white;
	font-size: 1vw;
}

a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: lightblue;
}

/* selected link */
a:active {
    color: blue;
}

.modalDialog {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog > div {
	width: 40vw;
	position: relative;
	margin: 5% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}

.modalDialog > div > h1 {
	text-align: center;
}

.modalDialog > div > h2 {
	text-align: center;
}

.modalDialog_show {
	opacity:1;
	pointer-events: auto;
}

.close {
	font-size: 1vw;
	background: #606061;
	color: #FFFFFF;
	line-height: 2vw;
	position: absolute;
	right: -1vw;
	text-align: center;
	top: -1vh;
	width: 2vw;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }

.center { 
	text-align: center;
}

#startButton {
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	font-size: 4vw;
}

#scoreBoard {
	font-size: 3vw;
}

#startDialog {
	font-size: 2vw;
}

#aboutDialog {
	font-size: 1.3vw;
}

#aboutDialog > div > div{
	height: 60vh;
	overflow: scroll;
	overflow-x: hidden;
}

#cw_key {
	width: 5vw;
}

#acceptButton {
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	font-size: 4vw;
}

#gamecfg {
	font-size: 2vw;
}

span.comment {
	font-size: 2vw;
}

.above90 {
	background: green;
}

.clicked_green {
	background: green;
}
.clicked_red {
	background: red;
}
.keyboard {
	transition: background-color 0.25s ease;
}

